Source: openapp-phpmyadmin-installer
Section: database
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper
Standards-Version: 3.9.1
Homepage: http://www.openpanel.com/openapp/

Package: openapp-phpmyadmin-installer
Architecture: any
Pre-Depends: apache2 | lighttpd, php5-mysql, libapache2-mod-php5 | php5-cgi, openapp-backup
Description: This will install your PHPMyAdmin for your OpenApp Appliance!
